.frameDiv{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
}

.helperDiv{
    margin: 0 auto;
    margin-left: 1vw;
    width: 20vw;
}

.centerDiv{
    margin: 0 auto;
    margin-right: 1vw;
    width: 65vw;
}