<div class="frameDiv">
  <br><br>
  <div class="centerDiv">
    <br><br>
    <tree-view></tree-view>
  </div>

  <div class="helperDiv">
    <br><br>
    <tree-form></tree-form>
    <br><br>
  </div>
</div>