.connect{
    position: absolute;
    width: 10vw;
    bottom: 2vh;
    right: 2vh;
}

.disconnect{
    position: absolute;
    width: 10vw;
    bottom: 2vh;
    right: 13vh;
}

.genc{
    position: absolute;
    width: 13vw;
    bottom: 2vh;
    right: 2vh;
}

mat-slider{
    width: 95%;
}