<mat-card class="card card-1" style="padding-bottom: 5vh">
  <mat-card-header>
    <mat-card-title *ngIf="treeState === 'ADD_CERT'">ADD NEW CERTIFICATE</mat-card-title>
    <mat-card-title *ngIf="treeState === 'CRT'">CERTIFICATE INFO</mat-card-title>
    <mat-card-title *ngIf="treeState === 'ADD_CA'">ADD NEW CERTIFICATE AUTHORITY</mat-card-title>
    <mat-card-title *ngIf="treeState === 'CA'">CERTIFICATE AUTHORITY INFO</mat-card-title>
    <mat-card-title *ngIf="treeState === '2CA'">NODES CONNECTION EDIT</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <!-- Generate Certificate FORM -->
    <div *ngIf="treeState === 'ADD_CERT' || treeState === 'CRT' || treeState === 'ADD_CA' || treeState === 'CA'">
      <form [formGroup]="certificateForm">
        <div class="form-container">
          <mat-form-field>
            <input matInput placeholder="Issuer principal name:" formControlName="issuerPrincipalName">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Enter issuer keystore password" formControlName="issuerKeyStorePassword"
              [type]="hide1 ? 'text' : 'password'" required>
            <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Enter issuer private key store password"
              formControlName="issuerPrivateKeyPassword" [type]="hide2 ? 'text' : 'password'" required>
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Common name:" formControlName="commonName" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Organization:" formControlName="organization" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Country:" formControlName="country" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="City:" formControlName="city" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput [min]="minDate" [matDatepicker]="startDatePicker" placeholder="Choose starting date"
              formControlName="startDate" required>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput [min]="minDate" [matDatepicker]="endDatePicker" placeholder="Choose expiration date"
              formControlName="endDate" required>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="[CA] IP address:" formControlName="ipAddress">
          </mat-form-field>
        </div>
        <button *ngIf="treeState === 'ADD_CERT'" class="genc" type="submit" mat-raised-button color="primary"
        (click)="onCreateCertificate()">
          Generate certificate
        </button>
        <button *ngIf="treeState === 'CRT' && !treeService.selectedNodeRevoked()" class="genc" mat-raised-button color="accent" 
        (click)="onRevoke()">
          Revoke certificate
        </button>
        <button *ngIf="treeState === 'ADD_CA'" class="genc" type="submit" mat-raised-button color="primary"
        (click)="onCreateCA()">
          Create CA
        </button>
        <h3 *ngIf="treeService.selectedNodeRevoked()"> Certificate revoked! </h3>
      </form>
    </div>

    <!-- Create/View CA FORM -->
    <!-- <div *ngIf="">
      <form [formGroup]="caForm" (ngSubmit)="createCA()">
        <div class="form-container">
          <br>
          <mat-form-field>
            <input matInput placeholder="Common name:" formControlName="commonName" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Organization:" formControlName="organization" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Country:" formControlName="country" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="City:" formControlName="city" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select placeholder="CA type" formControlName="caType">
              <mat-option value="IM_CA" (selected)="true">Intermediate CA</mat-option>
              <mat-option value="LEAF_CA">End User CA</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
        </div>
        <button class="genc" type="submit" mat-raised-button color="primary">
          Create CA
        </button>
      </form>
    </div> -->

    <!-- Connection controls -->
    <div *ngIf="treeState === '2CA'" class="form-container">
      <button *ngIf="!nodesConnection" class="connect" mat-raised-button color="primary"
        (click)="connect()">Connect</button>
      <button *ngIf="nodesConnection" class="disconnect" mat-raised-button color="accent"
        (click)="disconnect()">Disconnect</button>
    </div>

  </mat-card-content>
</mat-card>