/* You can add global styles to this file, and also import other style files */
@import './dark-material.scss';

// BG color
// Body Styles 
body, html, .body {
  background: rgb(48, 48, 48) !important;
  color: white;
  font-family: 'Raleway', sans-serif;
}

p, span{
  color: white;
  font-family: 'Raleway', sans-serif;
}

// SNACKBAR

.snack-dark-mode{
  background: rgb(48, 48, 48) !important;
  // width: 70vw;
}

// .mat-snack-bar-container {
//   width: 70vw;
// }

.spacer {
    flex-grow: 1;
}

.medium-list {
    margin: auto;
    width: 600px;
    padding: 10px;
  }
     
  .list-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
  }
  
  .list-header-title {
    color: rgb(255, 255, 255);
    background: rgba(153, 153, 153, 0.03);
    padding: 8px 20px;
    font-weight: bold;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
 
  .divider {
    margin-top: 10px !important; 
  }

// card tricks
.card{
  border-radius: 2px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// Width-fixed + min height card
mat-card.card.card-1 {
  min-height: 70vh;
  height: auto;
  width: 22vw;
}

// Auto-adjustable card
mat-card.card.card-1.auto {
  height: auto;
  width: auto;
}

#infoText{
  position: absolute;
  left: 0px;
}

agm-map{
  border: 1px solid white;
  height: 80vh;
  width: 65vw;
  display: block;
  margin: 0 auto;
}

.parentDiv{
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: center;
  padding-top: 5vh;
}

.rightDiv{
  margin: 0 auto;
  margin-left: 1vw;
  width: 20vw;
}

.leftDiv{
  margin: 0 auto;
  margin-right: 1vw;
  width: 65vw;
}

div.mat-card-header-text {
  margin-left: 0px;
}
