<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!-- timeStamp Column -->
    <ng-container matColumnDef="timeStamp">
      <th mat-header-cell *matHeaderCellDef> TimeStamp </th>
      <td mat-cell *matCellDef="let element"> {{element.timeStamp}} </td>
    </ng-container>

    <!-- ipAddress Column -->
    <ng-container matColumnDef="ipAddress">
      <th mat-header-cell *matHeaderCellDef> ipAddress </th>
      <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
    </ng-container>

    <!-- hostName Column -->
    <ng-container matColumnDef="hostName">
      <th mat-header-cell *matHeaderCellDef> hostName </th>
      <td mat-cell *matCellDef="let element"> {{element.hostName}} </td>
    </ng-container>

    <!-- sourceName Column -->
    <ng-container matColumnDef="sourceName">
      <th mat-header-cell *matHeaderCellDef> sourceName </th>
      <td mat-cell *matCellDef="let element"> {{element.sourceName}} </td>
    </ng-container>

    <!-- processId Column -->
    <ng-container matColumnDef="processId">
      <th mat-header-cell *matHeaderCellDef> processId </th>
      <td mat-cell *matCellDef="let element"> {{element.processId}} </td>
    </ng-container>

    <!-- logSeverity Column -->
    <ng-container matColumnDef="logSeverity">
      <th mat-header-cell *matHeaderCellDef> logSeverity </th>
      <td mat-cell *matCellDef="let element"> {{element.logSeverity}} </td>
    </ng-container>

    <!-- logType Column -->
    <ng-container matColumnDef="logType">
      <th mat-header-cell *matHeaderCellDef> logType </th>
      <td mat-cell *matCellDef="let element"> {{element.logType}} </td>
    </ng-container>

    <!-- content Column -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> content </th>
      <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>