.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    background: #565656 !important;
  }

  mat-expansion-panel.mat-expansion-panel{
    margin-left: 10px;
    margin-right: 10px;
  }