<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav #sidenav [mode]="push" opened="false" class="sidenav" [fixedInViewport]="true" 
  (click)="sidenav.close()">
    <!-- sidenav content -->
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item>
        <h3> Side Menu </h3>
      </a>
      <br>
      <mat-accordion (click)="panelClick($event)">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>place</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Mock
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/">
            <button mat-icon-button>
              <mat-icon>add_location</mat-icon>
              Mock
            </button>
          </a>
          <a mat-list-item routerLink="/">
            <button mat-icon-button>
              <mat-icon>edit_location</mat-icon>
              Mock
            </button>
          </a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>directions</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Mock
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/">
            <button mat-icon-button>
              <mat-icon>navigation</mat-icon>
              Mock
            </button>
          </a>
          <a mat-list-item routerLink="/">
            <button mat-icon-button>
              <mat-icon>rate_review</mat-icon>
              Mock
            </button>
          </a>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content (click)="sidenav.close()">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>