<!-- <div class="card card-1 auto padding-top-2 inline" formArrayName="formArray"
  *ngFor="let ctrl of formArray.controls; let i=index">
  <input type="text" [formControlName]="i">
</div> -->
<!-- <form [formGroup]="form"> -->
<!-- Field name select -->

<div class="card card-1 auto flex-space-around margin-top-2">
  <!-- Field name step select -->
  <mat-form-field style="width:15vw">
    <mat-select placeholder="Field name" [(value)]="data.fieldName">
      <mat-optgroup *ngFor="let group of dataService.fieldNames" [label]="group.name">
        <mat-option *ngFor="let fieldName of group.fieldNames" [value]="fieldName.value">
          {{fieldName.viewValue}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <!-- Operations select -->
  <mat-form-field style="width:5vw">
    <mat-select [(value)]="data.conditionOperator">
      <mat-option *ngFor="let op of dataService.conditionOperators; let i=index" [value]="op.value">
        {{op.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Value input -->
  <mat-form-field>
    <input matInput placeholder="Value" [(ngModel)]="data.value">
  </mat-form-field>
  <!-- Logical operations select -->
  <mat-form-field style="width:7vw">
    <mat-select [(value)]="data.logicalOperator">
      <mat-option *ngFor="let op of dataService.logicalOperators; let i=index" [value]="op.value">
        {{op.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon (click)="remove()" class="cancel-icon pointer">clear</mat-icon>
</div>
<!-- </form> -->