.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.margin-top-2 {
  margin-top: 2vh;
}

.cancel-icon {
  position: relative;
  top: 3vh;
}

.pointer:hover {
  cursor: pointer;
}
