<mat-toolbar color="accent">
  <mat-toolbar-row>
    <!-- Toggle sidenav -->
    <button *ngIf="true" mat-icon-button (click)="toggleSideNav()"> <!-- mock -->
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/"><h6>Home</h6></button>

    <span class="spacer"></span>
    <span *ngIf="true">                                                     <!-- mock -->
      <button mat-button routerLink="/"><h6>Log In</h6></button>
      <button mat-button routerLink="/"><h6>Sign Up</h6></button>
    </span>
    <span *ngIf="false">                                                    <!-- mock -->
      <button mat-button (click)="logout()"><h6>Log Out</h6></button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
