<mat-card class="login-div card card-1" style="min-height: unset;width: 18vw;">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form class="form" (ngSubmit)="signin()" #signinForm="ngForm">
      <div class="form-container">
        <h2 class="form-heading">Sign in</h2>

        <input matInput placeholder="Username" type="text" class="form-control" [(ngModel)]="user.username"
          name="username" required autofocus>
        <br>
        <input matInput placeholder="Password" type="password" class="form-control" [(ngModel)]="user.password"
          name="password" required>
        <br>
        <br>
        <button id="signinButton" [disabled]="signinForm.form.invalid" class="btn btn-lg btn-primary btn-block"
          mat-raised-button color="primary" type="submit">
          Sign in
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br>
<br>