<div class="frameDiv">
  <br><br>
  <div class="centerDiv">
    <br><br>
    <mat-card class="card card-1 auto">

      Conditions:
      <br>
      <!-- Operator cards -->
      <div>
        <condition *ngFor="let condition of conditions; let i=index" [data]="conditions[i]" [index]="i"
          (removedIndexEvent)="removeItem($event)">
        </condition>
      </div>

      <button mat-fab class="add-fab" (click)="addConditionClick()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card>
  </div>

  <div class="helperDiv">
    <br><br>
    <mat-card class="card card-1">
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <br>
        <div class="form-container">
          <form [formGroup]="ruleForm">
            <!-- Rule name -->
            <mat-form-field>
              <input matInput placeholder="Enter rule name..." formControlName="name">
            </mat-form-field>
            <!-- Interval -->
            <mat-form-field>
              <input style="width:10vw" matInput placeholder="Interval" formControlName="intervalValue">
            </mat-form-field>
            <mat-form-field style="width:5vw">
              <mat-select formControlName="intervalMeasure">
                <mat-option *ngFor="let op of dataService.measureValues; let i=index" [value]="op" (selected)="i==0">
                  {{op}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- Repeat -->
            <mat-form-field>
              <input matInput placeholder="Repeat num" formControlName="repeats">
            </mat-form-field>
            <br>
            <div class="bottom-div">
              <button mat-raised-button color="accent" class="width-10" (click)="submit()">Submit</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
    <br><br>
  </div>
</div>