.frameDiv {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: center;
}

.helperDiv {
  margin: 0 auto;
  margin-left: 1vw;
  width: 20vw;
}

.centerDiv {
  margin: 0 auto;
  margin-right: 1vw;
  width: 65vw;
}

.mat-form-flex {
  display: block;
  justify-content: center;
}

.padding-5 {
  padding-left: 5vw;
  padding-right: 5vw;
}

.padding-top-2 {
  padding-top: 2vh;
}

.add-fab {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
}

.bottom-div {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    width: -webkit-fill-available;
    padding-left: 1.5vw;
}

.width-10 {
  width: 10vw;
}

.bottom-1 {
  position: absolute;
  width: 10vw;
  bottom: 2vh;
  right: 2vh;
}

.bottom-2 {
  position: absolute;
  width: 10vw;
  bottom: 2vh;
  right: 23vh;
}
