<div class="wrapper">
    <div id="content">

        <div style="margin-left: 20px">

            <div class="mainDiv">

                <h1>Log frequency report</h1>

                <p *ngIf="totalLogs != -1"><b>Total number of logs: {{totalLogs}}</b></p>

                <h3>Log frequency between {{startDate| date: 'dd.MM.yyyy.'}}
                    and {{endDate | date: 'dd.MM.yyyy.'}}</h3>


                <!-- <h4 id = "firstH4" *ngIf="totalLogs != null" >
                  <b>Total Earnings from BUS: {{totalEarnings.BUS}}</b>
              </h4>
              <h4 *ngIf="totalLogs != null" >
                  <b>Total Earnings from METRO: {{totalEarnings.METRO}}</b>
              </h4>
              <h4 *ngIf="totalLogs != null" >
                  <b>Total Earnings from TRAM: {{totalEarnings.TRAM}}</b>
              </h4> -->

                <div id="datePickerDiv">
                    <div class="form-group" style="display: inline-block; margin-left: 20px">
                        <label style="display: block">Select first day</label>
                        <input type="date" [ngModel]="startDate | date:'yyyy-MM-dd'" class="form-control"
                            style="width: 200px;" (ngModelChange)="startDate = $event" />
                    </div>

                    <div class="form-group" style="display: inline-block; margin-left: 20px">
                        <label style="display: block">Select last day</label>
                        <input type="date" [ngModel]="endDate | date:'yyyy-MM-dd'" class="form-control"
                            style="width: 200px;" (ngModelChange)="endDate = $event" />
                    </div>

                    <button id="getReportButton" (click)="getReport()" mat-raised-button color="success">Show logs
                        report</button>
                </div>

            </div>

        </div>

        <div class="noChart" [hidden]="totalData.length != 0">
            <h3>No logs for the selected period</h3>
        </div>

        <div style="display: flexbox" name="testis">

            <div class="chartDiv" [hidden]="hostData.length == 0" style="height: 50vh">

                <div id="hostChartContainer"></div>

            </div>

            <div class="chartDiv" [hidden]="systemData.length == 0" style="height: 50vh">

                <div id="systemChartContainer"></div>

            </div>

            <div class="chartDiv" [hidden]="totalData.length == 0" style="height: 50vh">

                <div id="totalChartContainer"></div>

            </div>

        </div>
    </div>
</div>