<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!-- message Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <!-- resolved Column -->
    <ng-container matColumnDef="resolved">
      <th mat-header-cell *matHeaderCellDef> resolved </th>
      <td mat-cell *matCellDef="let element"> {{element.resolved}} </td>
    </ng-container>

    <!-- resolvedAt Column -->
    <ng-container matColumnDef="resolvedAt">
      <th mat-header-cell *matHeaderCellDef> resolvedAt </th>
      <td mat-cell *matCellDef="let element"> {{element.resolvedAt}} </td>
    </ng-container>

    <!-- resolvedBy Column -->
    <ng-container matColumnDef="resolvedBy">
      <th mat-header-cell *matHeaderCellDef> resolvedBy </th>
      <td mat-cell *matCellDef="let element"> {{element.resolvedBy}} </td>
    </ng-container>

    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- alarmSeverity Column -->
    <ng-container matColumnDef="alarmSeverity">
      <th mat-header-cell *matHeaderCellDef> alarmSeverity </th>
      <td mat-cell *matCellDef="let element"> {{element.alarmSeverity}} </td>
    </ng-container>

    <!-- alarmType Column -->
    <ng-container matColumnDef="alarmType">
      <th mat-header-cell *matHeaderCellDef> alarmType </th>
      <td mat-cell *matCellDef="let element"> {{element.alarmType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>