<div class="frameDiv" style="height:90vh">
  <br><br>
  <div>
    <br><br>
    <mat-card class="card card-1 auto" style="position: relative;width: 90vw">
      <alarm-table></alarm-table>
    </mat-card>
  </div>
</div>