<mat-menu #caMenu="matMenu">
  <!-- give local reference and tell this is menu by assigning 'matMenu' -->
  <button mat-menu-item (click)="onAddCA()">
    <mat-icon>add</mat-icon>
    <span>Add CA</span>
  </button>
  <button mat-menu-item (click)="onAddCertificate()">
    <mat-icon>add</mat-icon>
    <span>Add Certificate</span>
  </button>
  <button mat-menu-item (click)="onRemove()">
    <mat-icon>cross</mat-icon>
    <span>Remove</span>
  </button>
</mat-menu>

<mat-tree class="card card-1 auto" [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- Leaf checkbox toggle -->
  <mat-tree-node class="card card-1 auto" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox class="checklist-leaf-node" [checked]="false" (change)="todoItemSelectionToggle(node)">
      {{node.name}}
    </mat-checkbox>
    <pre>  </pre>
    <mat-icon>class</mat-icon>
  </mat-tree-node>
  <br><br>
  <!-- Save button node -->
  <!-- <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field>
        <input matInput #itemValue placeholder="Certificate mock...">
      </mat-form-field>
      <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    </mat-tree-node> -->

  <!-- Expansion checkbox toggle node -->
  <mat-tree-node class="card card-1 auto" *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="false" (change)="todoItemSelectionToggle(node)">{{node.name}}</mat-checkbox>
    <pre>  </pre>
    <mat-icon>business</mat-icon>

    <!-- Node menu -->
    <button *ngIf="!treeService.isNoMenuType(node.node.type)" mat-icon-button [matMenuTriggerFor]="caMenu"
      (click)="menuSelectedNode(node)">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- Add new node -->
    <!-- <button mat-icon-button (click)="addNewItem(node)">
        <mat-icon>add</mat-icon>
      </button> -->

  </mat-tree-node>
  <br><br>
</mat-tree>
<br><br>