<div class="frameDiv" style="height:90vh">
  <br><br>
  <div class="centerDiv">
    <br><br>
    <mat-card class="card card-1 auto" style="position: relative;top: 7vh;width: 85vw">
      <br>
      <div>
        <!-- <log *ngFor="let condition of conditions; let i=index" [data]="conditions[i]" [index]="i">
        </log> -->
        <log-table></log-table>
      </div>
    </mat-card>
  </div>

  <div class="helperDiv">
    <mat-card class="card card-1" style="min-height: auto;position: absolute;left: 6vw;top: 1vh;width: 85vw;height: 6vh;">
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <br>
        <div class="form-container">
          <form [formGroup]="logFilterForm">
            <!-- Field value -->
            <mat-form-field style="z-index: 50">
              <input style="width:15vw" matInput placeholder="Value" formControlName="filterValue">
            </mat-form-field>
            <!-- Date value -->
            <mat-form-field class="example-full-width" style="z-index: 50">
              <input matInput [matDatepicker]="valueDatePicker" placeholder="Logs from..."
                formControlName="dateValue">
              <mat-datepicker-toggle matSuffix [for]="valueDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #valueDatePicker></mat-datepicker>
            </mat-form-field>
            <!-- Field name select -->
            <mat-form-field style="width:10vw;padding-left: 5vw;z-index: 50">
              <mat-select formControlName="fieldName">
                <mat-option *ngFor="let op of dataService.logFieldNames; let i=index" [value]="op" (selected)="i==0">
                  {{op}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <div class="bottom-div">
              <button mat-raised-button color="accent" class="width-10" (click)="submit()">Search</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
    <br><br>
  </div>
</div>